# Gradle
.gradle/
build/
*.jar
*.war
# Exception : le wrapper Gradle doit être dans le repo pour que le CI fonctionne
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
.DS_Store

# OS
Thumbs.db

# Logs
*.log
logs/

# Application
application-local.properties


bin/